body { 
  background: #666666;
}

.app_wrapper {
  margin: 50px;
  display: grid;
  grid-template-rows: 20px 1fr;
  grid-template-columns: 1fr 1fr 100px;
  grid-gap: 30px;
  grid-template-areas: 
  'a u b'
  'c c c';
}

